[submodule "platforms"]
	path = platforms
	url = https://github.com/smadhuranga/stock-platforms.git
[submodule "services"]
	path = services
	url = https://github.com/smadhuranga/stock-services.git
[submodule "webapp"]
	path = webapp
	url = https://github.com/smadhuranga/stock-webapp.git
